<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577299182818-ntq50l9fjegqh0uga69tv4hr4dtvhvsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577299182818-ntq50l9fjegqh0uga69tv4hr4dtvhvsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577299182818-97o5thbtgleogim3dkm83ubhs57qv46h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEh1d5fEMsHPtOECDfRE7DiZX4u2wIb6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>577299182818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karem.salah.tinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinder-95936</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-95936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577299182818:ios:d128b2404644f95ed91abb</string>
</dict>
</plist>